.bgc-dark {
  background-color: #1A1A1A !important;
}

.error-text {
  color: #B00020;
}

.button {
  color: #ffffff !important;
  background-color: #EC8E9E !important;
}

.bg-opacity-50 {
  background-color: #fff !important;
}
